.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  padding: 15px;
  border-style: none;
  border-radius: 10px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
@media screen and (max-width: 768px) {
  .button {
    width: 134px;
    padding: 12px;
  }
}
