.button--reset {
  background-color: var(--green-100);
  color: var(--green-400);
}
@media (hover: hover) and (pointer: fine) {
  .button--reset:hover {
    background-color: var(--gray-100);
  }
  .button--reset:active {
    background-color: var(--gray-200);
  }
}
