.button--submit {
  background-color: var(--green-400);
}
@media (hover: hover) and (pointer: fine) {
  .button--submit:hover {
    background-color: var(--green-300);
  }
  .button--submit:active {
    background-color: var(--green-200);
  }
}
