.header.header--fixed {
  z-index: 100;
  position: fixed;
  background-color: var(--fixed-menu-bg-color);
  backdrop-filter: blur(27px);
  animation: ani 1.5s forwards;
}
.header--fixed .header__navigation-link {
  color: black;
}
.header--fixed .header__logo-image {
  fill: black;
}
.header--fixed .header__number {
  color: black;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
