.tour-card {
  color: var(--white);
  position: relative;
  width: 100%;
  height: 531px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .tour-card {
    height: 318px;
    border-radius: 20px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .tour-card:hover .card__image {
    transform: scale(1.2);
  }
  .tour-card:hover .more-link::before {
    opacity: 1;
    transform: scale(1);
  }
}
.tour-card__picture {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: var(--transition);
}
.tour-card__picture::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: var(--card-linear-gradient);
  background-size: cover;
  background-position: center;
}
.tour-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.tour-card__image--1 {
  object-position: bottom;
}
.tour-card__content {
  z-index: 2;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .tour-card__content {
    padding: 25px;
  }
}

.tour-card__header {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
