body {
  font-family: var(--font-family-base);
  color: var(--black);
  background-color: var(--beige-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  color: var(--white);
}
section {
  scroll-margin-top: 88px;
}
