:root {
  --black: #1b1f2b;
  --white: #ffffff;
  --green-100: #e0f0e5;
  --green-200: #627f7e;
  --green-300: #3b7e7b;
  --green-400: #286562;
  --beige-100: #f9f7f4;
  --beige-200: #f4f0e9;
  --orange-100: #f8e6be;
  --orange-200: #efa501;
  --gray-300: #a6a6a6;
  --gray-200: #d9dfdb;
  --gray-100: #f1f3f2;
  --fixed-menu-bg-color: #f3efe899;
  --header-height: 88px;
  --font-family-base: "Roboto", sans-serif;
  --transition: transform 0.3s ease;
  --card-linear-gradient: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.06) 48.44%,
    rgba(0, 0, 0, 0.5) 100%
  );
  --story-linear-gradient: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0.01%,
    rgba(0, 0, 0, 0.2) 100%
  );
  --container-width: 1170px;
  --container-padding-x: 53px;
  --container-margin-bottom: 135px;
}
@media screen and  (max-width: 768px) {
  :root {
    --container-margin-bottom: 75px;
    --container-padding-x: 20px;
  }
}
