.container {
  max-width: min(
    calc(var(--container-width) + var(--container-padding-x) * 2),
    100vw
  );
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
  margin-bottom: var(--container-margin-bottom);
}
.container--full {
  max-width: calc(1860px + 20px * 2);
  padding-inline: 20px;
  margin-inline: auto;
  margin-bottom: var(--container-margin-bottom);
}
